*{
    margin: 0;
    padding: 0;
}
h1{
    text-align:center;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Night.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

body{
    color:white;
    float:inline-start;
}
h1{
    color:white;
    text-align: center;
    float: right;
}
div{
    text-align:center;
    text-size-adjust: 0.60;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #07491a;
}


new{
    align-items: center;
    position: relative;
    float: inherit;

}